.home {
    &__main {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

    }

    &__accordeon {
        margin-top: 50px;
    }
}